* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', 
               'Hack',
               'Dank Mono',
               'Menlo', 
               'Monaco',
               'Inconsolata',
               'Overpass Mono',
               'Ubuntu Mono',
               monospace;
}

.center-prompt {
  font-size: 2vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;

  background: black;
  color: white;
}